.ProjectCards {
  height: 70%;
  min-width: 90%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

/* @media (min-width: 600px) {
  .ProjectCards {
    max-width: ;
  }
} */
