.ResumeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ResumeImg {
    width: 90%;
    margin-bottom: 1em;
}

/* @media (min-width: 500px) {
    .ResumeImg {
        width: 50%;
        margin-bottom: 2em;
    }
}
@media (min-width: 900px) {
    .ResumeImg {
        width: 15%;
        margin-bottom: 2em;
    }
} */

.Download svg {
    color: #aaa;
    font-size: 1.5em;
}
.Download:hover svg {
    color: rgb(255, 255, 255);
    font-size: 2em;
}
.Download p {
    min-width: max-content;
    cursor: default;
    color: #aaa;
}
.Download:hover p {
    color: white
}