.P {
    font-family: 'Gloria', cursive;
    font-size: 1.5em;
    max-width: 600px;
    text-align: justify;
    margin: auto;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgba(255, 174, 0, 0.726);
}