.Navbar {
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 10;
    padding: 1em;
    width: 5em;
    min-height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(32, 32, 32, 0.918);
    justify-content: space-between;
}

.Routes .active {
    color:rgb(200, 255, 0);
}

.Navbar > .Links {
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}



.NavItem {
    margin: 0 1em;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.NavItem:hover {
    color: rgb(200, 255, 0);
}
.HomeIcon {
    margin: 1em;
}
.Socials {
    font-size: 1.2em;
}
.SocialIcons {
    background-color: transparent;
    border-radius: 50%;
    margin: 0 1em;
    max-width: 6em;
    /* box-shadow: rgb(145, 143, 143) 0 0 30px; */
}
.SocialIcons:hover {
    color: rgb(200, 255, 0);
}
.SocialsInnerWrapper {
    display: flex;
    flex-direction: column;
}
.SocialsInnerWrapper a {
    text-decoration: none;
    color: #999;
    margin: 0.5em auto;
}

.Routes {
    display: flex;
    flex-direction: column;
}

.Routes a {
    color: cyan;
    margin: 1em auto;
}

@media (min-width: 600px) {
    .Navbar {
        width: 100%;
        min-height: auto;
        height: fit-content;
        flex-direction: row;
        background: linear-gradient(to right, rgba(0,0,0, 0.6), rgba(0,0,0, 0.9));
        box-shadow: 0 0px 15px black;
    }
    .Navbar > .Links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .HomeIcon {
        margin: 0 1em;
    }
    
    .Routes,.SocialsInnerWrapper {
        flex-direction: row;
    }
    .SocialsInnerWrapper a {
        margin: 0
    }
    .Routes a {
        margin: 0 1em;
    }
}