.App {
  display: flex;
  min-height: 100vh;
  font-family: 'Helvetica';
}
.Landing {
  /* border: cyan solid; */
  width: calc(100vw - 4em);
  /* border-width: 0 5px; */
}

.Title {
  background: linear-gradient(to bottom, #fffffffb,rgba(131, 130, 130, 0.897),rgb(0, 0, 0)),
  url('../assets/images/code-background.jpg');
  background-position: bottom right;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.TitleInnerWrapper {
  margin: 0 0 0 2em;
  margin: 1em;
  width: fit-content;
  background: linear-gradient(to right, rgb(122, 250, 164), rgb(237, 248, 248), rgb(230, 230, 107));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  animation: Title ease-in-out 1s  infinite;
}
@keyframes Title {
  to {
    background: linear-gradient(to right, rgb(230, 230, 107), rgb(122, 250, 164), rgb(237, 248, 248));
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.Name {
  font-size: 4.5em;
  color: white;
animation: fade-in 1s forwards;
}
.Job {
  color: cyan;
  animation: fade-in 1s forwards;
}
.skills {
  display: flex;
  flex-flow: wrap;
}
.skills .tech {
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 0.7em;
  line-height: 3em;
  font-family:'Helvetica';
  margin-right: 1em;  
animation: fade-in 1s forwards;
}

.ImageWrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: inset 0px 0px 30px rgb(132, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  margin: 0 auto 20px;
  transform: rotate(180deg);
  transform-origin: 50% 50% 0;
  animation: roll-in 1s forwards;
}
.ImageWrapper img {
  border-radius: 20%;
  width: 75%;
  height: 75%;
}

.Landing::-webkit-scrollbar {
  display: none;
}
.flat-btn {
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-family: 'Helvetica';
  border: solid cyan 1px;
  border-radius: 1em;
  color: cyan;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: 600;
}
.flat-btn:hover {
  background-color: cyan;
  color: inherit;
  letter-spacing: 3px;
}
@keyframes fade-in {
  from {
      opacity: 0.1;
      transform: translateY(40%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  
}
@keyframes roll-in {
  0% {
      opacity: 0.1;
      transform:  translateX(300%) rotate(260deg);
  }
  to {
      opacity: 1;
      transform: rotate(0deg) translateX(0);
  }
  
}
@media (min-width: 600px) {
  .Landing {
    width: 100%;
    height: calc(100vh - 4.5em);
    overflow: auto
  }
  .App {
    flex-direction: column;
  }
  .Name {
    font-size: 6em;
  }
  .Job .tech {
    font-size: 0.7em;
  }
}