.ProjectCard {
    margin: 20px auto;
    padding: 1em;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    background: rgba(65, 77, 82, 0.7);
    box-shadow: #ddd 0 0 10px;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fade-in ease-in-out forwards;
    animation-duration: 1s;
}

.ProjectImg {
    height: 50%;
    max-height: 150px;
    width: 100%
}

.Title {
    padding: 1rem 0;
    color: rgb(253, 200, 100);
    text-shadow: 0 0 10px #000;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.Title p {
    color:rgb(255, 255, 255);
}

.Tags {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin: 5px auto
}
.Tag {
    box-shadow: 0 0 5px #333;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    padding: 0.2rem 1rem;
    background: #ddd;
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Links {
    display: flex;
    justify-content: space-between;
}
.Links a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:darkorange;
    border: solid darkorange 2px;
    border-radius: 20px;
}

.Links a:hover {
    background-color: darkorange;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:white;
    border: solid darkorange 2px;
    border-radius: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0.1;
        transform: translateY(40%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes fade-in-out {
    0% {
        opacity: 0.1;
        transform: translateX(40%);
    }
    5% {
        opacity: 1;
        transform: translateX(0) scale(1)
    }
    95% {
        opacity: 1;
        transform: translateX(0) scale(1);
        height: max-content;
    }
    100% {
        opacity: 0;
        transform: translateX(50%) scale(0);
        height: 0
    }
    
}

@media (min-width: 600px) {
    .ProjectCard {
        flex-basis: 45%;
    }
}